{% extends 'polls/base.html' %}
{% load static %}

{% block head %}
    <title>{{ object.question_text }}</title>
    <style>
        body{
            user-select: none;
        }
        p{
            margin: auto;
        }
        .avatar{
            padding: 4px;
            border-radius: 50%;
            border: 3px solid lime;
            display: inline-block;
            background: lightgray;
        }
        .avatat img{
            width: 32px;
            height: 32px;
        }
    </style>
{% endblock %}
{% block content %}
    <div class="container" style="margin-top: 80px;">
        <div class="card" style = 'max-width: 600px;margin: auto'>
           <div class="card-header">
                <p class="avatar" style="background:brown">
                    <img src="{% static 'polls/images/man-user.png' %}"/>
                </p>
                <span class="text-primary lead">{{ object.author.username }}</span>
           </div>
            <div class="row row-cols-sm-2 row-cols-1 no-gutters">
                <div class="col">
                   <!-- Image section -->
                    <img style="width: 100%;height: 200px" src="{{ object.question_img.url }}" alt="{{ object.question_text }}">
                </div>
                <!-- The area that displays the votes -->
                <div class="col" style = 'padding: 3px;'>
                   <p class="lead">{{ object.question_text }}</p>
                    <div class="choice-container">
                        {% for choice in object.choice_set.all %}
                            <div class="choice">
                                <p class="mute small">{{ choice.choice_text }}</p>
                                <input {% if not user.is_authenticated or user.is_authenticated and vote %} disabled {% endif %} type="radio" name="side" value="{{ choice.id }}" style="background: white;margin:0px 2px 0px 0px;cursor: pointer;">
                                <div class="progress" style="cursor: pointer;display: inline-block;width: calc(100% - 25px)">
                                    <div class="progress-bar" role="progressbar" style="width: 0%" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100">0%</div>
                                </div>
                                <p class="mute small votes">{{ choice.votes }} Vote{{ choice.votes|pluralize }}</p>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
            <hr style = 'margin: 0px;'/>
            <div class="card-body">
                {% if user.is_authenticated and vote %}
                    <button id="vote-button" class="btn disabled btn-block btn-success">Voted</button>
                {% elif user.is_authenticated %}
                    <button id="vote-button" class="btn btn-block btn-outline-dark">Vote</button>
                {% endif %}
                <!-- Comments section -->
                <p class = 'small muted mt-3' id="number-of-comments">{{ object.comment_set.count }} Comment{{ object.comment_set.count|pluralize }}</p>
                <div class="comment-container">
                    {% if object.comment_set.count > 0 %}
                       <hr style = 'margin: 4px auto;'/>
                            {% for comment in object.comment_set.all %}
                               {% cycle 'lightgray' 'turquoise' 'lightgreen' 'lightcoral' 'lightblue' 'lightpink' 'darkorchid' 'crimson' 'skyblue' 'darkorange' as color silent %}
                                <div style="position: relative" class="comment-wrapper">
                                   <p class="avatar" style=" position: absolute; top: 0px; 
                                     background:{{ color }} ">
                                       <img src="{% static 'polls/images/man-user.png' %}"/>
                                   </p>
                                    <p style="margin-left: 50px">
                                       <span class="text-info">{{ comment.author }}</span>
                                         - {{ comment.comment_text }}<br/>
                                        <span class="small" style="font-size: 12px;color: #535353;">
                                            {{ comment.pub_date|date:'D M j, Y - g:i:s A' }}
                                        </span>
                                    </p>
                                </div>
                                <hr style = 'margin: 4px auto;'/>
                            {% endfor %}
                    {% else %}
                        <p class="lead text-center">Be the first to comment on this poll..</p>
                    {% endif %}
                </div>
                <div class="input-group mt-3">
                    <input type="text" class="form-control" placeholder="Say Something..">
                    <div class="input-group-append">
                        <button class="btn input-group-text disabled" id = 'comment-button'>Send</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block javascript %}
   <script>
       //Get the list of votes
       let totalVotes = 0;
       let hasUserVoted = false;
        // A function that adjusts the value of the progress bar
        let adjustProgressbar = () => {
            let positions = [];
            let progressbar = $('.progress-bar');
            $('.choice').each(function(){
                // Get the value of the votes and insert it into a list
                positions.push(Number($(this).find('.votes').text().split(' ')[0]));
            })
            // Find the maximum votes
            let highestVote = Math.max(...positions);
            positions = positions.map(x => Math.round((x/highestVote) * 100));
            // Adjust the progressbar
            for(let ele = 0; ele < progressbar.length; ele++){
                if(highestVote !== 0){
                    progressbar[ele].innerHTML = `${positions[ele]}%`;
                    progressbar[ele].style.width = `${positions[ele]}%`;
                }
            }
            
        }
        adjustProgressbar() // invoke the function
       
       // Create a function that changes the choice of the user even when he clicks on the progressbar
       let changeSidesWhenCliked = () => {
           $('.progress').click(function(){
               if(!hasUserVoted){
                    {% if user.is_authenticated and not vote %}
                           $(this).parent().find("input[type = 'radio']").prop('checked',true);
                    {% endif %}
                }
           })
       }
       changeSidesWhenCliked() // invoke the function
       
       // Create a function that makes an ajax request to register a vote for a user
       let registerVote = () => {
           $('#vote-button').click(function(){
               let voteId = $('input[name = "side"]:checked').val();
               let questionId = {{ object.id }} 
               if(voteId){
                   // Make an ajax request  
                   $.ajax({
                       'url':"{% url 'polls:vote' %}",
                       data : {
                           'choice_id': voteId,
                           'question_id': questionId,
                       },
                       dataType : 'json',
                       success : function(data){
                           // Modify the number of votes for the selected choice
                           $('input[name = "side"]:checked').parent().find('.votes').text(`${data["current_vote"]} Votes`);
                           // Adjust the progressbar 
                           adjustProgressbar()
                           // Deselect the radio button
                           $('input[name = "side"]:checked').prop('checked',false);
                           // Disable the vote button and adjust it
                           $('#vote-button').attr('class','disabled btn btn-block btn-success');
                           $('#vote-button').text('Voted');
                           $('input[name = "side"]').prop('disabled',true);
                           hasUserVoted = true;
                       },
                   })
                }
           })
       }
       registerVote() // invoke the function
           
        // Create a function that only updates the comments section in the frontend
        
        let updateFrontendCommentsSection = (comment,date,author) => {
            let colors = ['lightgray','turquoise','lightgreen','lightcoral','lightblue','lightpink','darkorchid','crimson','skyblue','darkorange'];
           let colorIndex = Math.round(Math.random() * 10);
           $('.comment-container').append(
               `
                <div style="position: relative" class = 'comment-wrapper'>
                   <p class="avatar" style=" position: absolute; top: 0px; background: ${colors[colorIndex]}">
                       <img src="{% static 'polls/images/man-user.png' %}"/>
                   </p>
                    <p style="margin-left: 50px">
                       <span class="text-info">${author}</span>
                         - ${comment}<br/>
                        <span class="small" style="font-size: 12px;color: #535353;">
                            ${date}
                        </span>
                    </p>
                </div>
                <hr style = 'margin: 4px auto;'/>
               `
           );
        }
       
       // Create a function that will save a comment from a user
       
       let saveComment = () => {
           
           let ajaxRequest = (comment,question_id) =>{
                   $.ajax({
                       url: "{% url 'polls:comment' %}",
                       data: {
                           'question_id': question_id,
                           'comment':comment,
                       },
                       dataType: 'json',
                       success: function(data){
                           // Update the number of comments
                           $('#number-of-comments').text(`${data["total_comments"]} Comments`);
                           // Update the comments
                           updateFrontendCommentsSection(data["comment_text"],data["pub_date"],data["author"])
                       },
                   })
               }
           
           $("input[type = 'text']").keyup(function(e){
               
               if($(this).val()){
                   console.log($(this).val())
                   $("#comment-button").attr('class','btn input-group-text btn-primary');
                   let value = $(this).val();
                   if(e.key === 'Enter'){
                       // Clear the input field
                       $(this).val('');
                       ajaxRequest(value,{{ object.id }})
                   }
               }
               else{
                   $("#comment-button").attr('class','btn disabled input-group-text');
               }
           })
           
           $('#comment-button').click(function(){
               let comment = $("input[type = 'text']").val()
               // Clear the input field
               $('input[type = "text"]').val('');
               ajaxRequest(comment,{{ object.id }})
           })
           
       }
       
       saveComment() // Invoke the function
           
       // Create a function that will continue checking if another user has voted
       let votesUpdater = () =>{
           // Get the question id
           let questionId = {{ object.id }};
           // First get the current total votes in the frontend
           $('.votes').each(function(){
               totalVotes += Number($(this).text().split(' ')[0]);
           })
           // Make an ajax request that will go and get the latest number of votes from the database
           $.ajax({
               'url': "{% url 'polls:updated_votes' %}",
               data: {
                   "question_id": questionId,
                   "total_votes": totalVotes, 
               },
               dataType: 'json',
               success: function(data){
                   let updatedTotalVotes = data["updated_total_votes"];
                   let updatedVotes = data["updated_votes"];
                   // Another user somewhere has voted
                   if( updatedTotalVotes != totalVotes ){
                       let votes = document.getElementsByClassName('votes');
                       // Update the number of votes in the frontend
                       for(let index = 0; index < updatedVotes.length; index++){
                           // Update the votes
                           if(updatedVotes[index] < 1){
                               votes[index].innerHTML = `${updatedVotes[index]} Vote`;
                           }
                           else{
                                votes[index].innerHTML = `${updatedVotes[index]} Votes`;
                           }
                       }
                       // Update the position of the progressbar
                       adjustProgressbar()
                   }
                   totalVotes = 0; // Reset the total votes
               }
           })
       }
       // Invoke the function multiple times
//        let multipleVotesCall = setInterval(votesUpdater,1000);
       
       // Create a function that will update the comments whenever another user comments on a question
       let commentsUpdater  = () => {
           // Get the total comments and the question id
           let questionId = {{ object.id }};
           let totalComments = document.getElementsByClassName('comment-wrapper').length;
//           console.log(totalComments)
           
           // Make an ajax request that will get the updated number of comments to a question
           $.ajax({
               "url": "{% url 'polls:updated_comments' %}",
               "data": {
                   "question_id": questionId,
                   "total_comments": totalComments,
               },
               "dataType": "json",
               "success": function(data){
                   let updatedTotalComments = data["updated_total_comments"];
                   if(updatedTotalComments !== totalComments){
                       console.log("Someone has commented");
                       // Update the frontend section of the comments
                       let updatedComments = data['updated_comments'];
                       console.log(updatedComments.length)
                       for(let ele of updatedComments){
                           updateFrontendCommentsSection(ele["comment"],ele["date"],ele["author"]);
                       }
                       
                   }
                   else{
                       console.log("No one has commented");
                   }
               }
           })
       }
//      let multipleCommentsCall = setInterval(commentsUpdater,1000);
   </script>
{% endblock %}