{% extends 'user/base.html' %}


{% block head %}
    <title>Reset Password</title>
    <style>
        body{
            margin: 0px;
            background-image: linear-gradient(45deg,royalblue,skyblue);
            background-repeat: no-repeat;
            background-size: cover;
            height: 100vh;
            overflow: hidden;
        }
        form{
            max-width: 450px;
            padding: 10px;
/*            margin: calc((100vh - 146px)/2) auto auto auto;*/
        }
    </style>
{% endblock %}
{% block content %}
    <form action="." method="post" class="card">
       {% csrf_token %}
        {{form}}
        <button class="btn btn-primary btn-block" type="submit">Reset Password </button>
    </form>
{% endblock %}
{% block javascript %}
    <script>
        console.log(document.getElementsByTagName("form")[0].getBoundingClientRect());
    </script>
{% endblock %}