{% extends 'user/base.html' %}


{% block head %}
    <title>Reset Password</title>
    <style>
        body{
            margin: 0px;
            background-image: linear-gradient(45deg,royalblue,skyblue);
            background-repeat: no-repeat;
            background-size: cover;
            height: 100vh;
            overflow: hidden;
        }
        div{
            max-width: 450px;
            padding: 10px;
            margin: calc((100vh - 500px)/2) auto auto auto;
        }
    </style>
{% endblock %}
{% block content %}
    <div class="card">
        <p class="text-success lead text-center"><strong>Your password has been successully changed</strong></p>
        <a href="{% url 'user:signin' %}" class="btn btn-primary btn-small">Sign Up</a>
    </div>
{% endblock %}